.add-item-container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 74px;
}

.left-column,
.right-column {
  width: 40%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Search Section */
.search-section input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: auto;
  border: 2px solid var(--borderInput);
  border-radius: 24px;
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-size-h7);
  margin-bottom: 20px;
}
.search-section input:focus-within {
  border-color: var(--brightFont);
}

/* Upload Section */
.upload-section {
  text-align: center;
}

.uploaded-image {
  max-width: 100%;
  border-radius: 8px;
}

.image-placeholder {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--nav-card-modal);
  border-radius: 8px;
  color: var(--noContent);
  font-size: var(--font-size-h6);
  font-weight: 500;
}

.image-placeholder-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--nav-card-modal);
  border-radius: 8px;
  color: var(--color-white);
  font-size: var(--font-size-h7);
  margin-bottom: 20px;
}

.image-placeholder-container.add {
  gap: 0px !important;
  padding: 20px 0px;
  height: 350px !important;
}

.upload-btn:hover,
.upload-btn:focus {
  background-image: var(--darkGradient), var(--gradientButtonHover);
}

.upload-btn:click {
  background: var(--gradientButton);
  border-radius: 20px !important;
  color: var(--color-white);
}

.upload-btn {
  background-color: transparent;
  color: var(--color-white);
  font-weight: bold;
  padding: 8px;
  font-size: var(--font-size-h6);
  border-radius: 20px !important;
  cursor: pointer;
  width: 100%;

  /* Gradient Border */
  border: 2px solid transparent;
  background-image: var(--darkGradient), var(--gradientButton);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Form Section */
.form-section {
  display: flex;
  flex-direction: column;
}

.item-name-label,
.price-label {
  display: block;
  color: var(--color-white);
  font-size: var(--font-size-h6);
  font-weight: 500;
}

.search-section input:focus-within {
  border-color: var(--brightFont);
}

.input-group {
  width: calc(100% - 5px) !important;
  padding: 0px !important;
  background-color: var(--nav-card-modal);
  border: 2px solid var(--borderInput);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-group.budget {
  width: calc(100% - 10%) !important;
}

.input-group.add {
  margin-bottom: 5px;
  background-color: var(--bg-image);
}

.input-group:focus-within {
  border-color: var(--borderInputBrighter);
}

.search-section input:focus-within {
  border-color: var(--borderInputBrighter);
}

/* Input styling */
/* .input-group input,
.price-quantity-section input,
.price-quantity-section select {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-size-h7);
} */

.input-group input:focus,
.price-quantity-section input:focus,
.price-quantity-section select:focus {
  outline: none !important; /* Remove focus outline */
  box-shadow: none !important; /* Remove focus box-shadow */
}

/* Container for Price and Currency Selector */
.price-quantity-section {
  display: flex;

  justify-content: space-between;
  gap: 20px;
}

.price-quantity-section select {
  width: 30%;
}

.price-quantity-section input {
  /* width: 65%; */
}

/* Quantity Section */
.quantity-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-image);
  border: 2px solid var(--borderInput);
  border-radius: 8px;
  height: 53px;
  margin-top: 12px;
}

.quantity-section button {
  background-color: var(--nav-card-modal);
  color: var(--color-white);
  border: 2px solid var(--borderInput);
  padding: 14.5px 20px;
  border-radius: 0px;
  cursor: pointer;
  font-size: var(--font-size-h7);
}

.quantity-section span {
  font-size: var(--font-size-h5);
  color: var(--borderInput);
}

.quantity-section button:hover {
  /* background: var(--gradientCircle); */
}

.quantity-section button.left {
  margin-left: -2px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 10%;
}

.quantity-section button.right {
  margin-right: -2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 10%;
}

/* Add Item Button */
.add-item-btn {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--gradientButton);
  border-radius: 20px !important;
  color: var(--always-white);
  font-weight: bold !important;
  border: none;
  cursor: pointer;

  font-size: var(--font-size-h7);
}

.add-item-btn:hover {
  background: var(--gradientButtonHover);
}

/* Responsive Styles */
@media (max-width: 839px) {
  .left-column,
  .right-column {
    width: 100%;
    padding: 0%;
    height: auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .left-column,
  .right-column {
    width: 100%;
    padding: 0%;
  }

  .add-item-container {
    flex-direction: column;
    gap: 10px;
  }

  .search-section input {
    font-size: var(--font-size-h6);
  }

  .image-placeholder {
    font-size: var(--font-size-h6);
  }
  .left-column,
  .right-column {
    height: auto;
  }

  .upload-btn {
    padding: 8px;
    font-size: var(--font-size-small);
  }
  .right-column {
    margin-left: 0;
  }

  .input-group {
    padding: 10px;
  }

  .price-quantity-section select,
  .price-quantity-section input {
    font-size: var(--font-size-h6);
  }

  .add-item-btn {
    font-size: var(--font-size-h6);
  }

  .item-name-label,
  .price-label {
    font-size: var(--font-size-h6);
  }
}

/* Additional responsiveness for very small screens */
@media (max-width: 480px) {
  .left-column,
  .right-column {
    padding: 0;
  }
  .search-section input {
    font-size: var(--font-size-small);
  }

  .image-placeholder {
    font-size: var(--font-size-h6);
  }

  .upload-btn {
    padding: 6px;
    font-size: var(--font-size-tiny);
  }

  .input-group {
    padding: 8px;
  }

  .add-item-btn {
    padding: 10px;
    font-size: var(--font-size-small);
  }

  .item-name-label,
  .price-label {
    font-size: var(--font-size-h6);
  }
}
