body {
  overflow: hidden;
}
.App {
  height: fit-content;
}

.h1-forgotpw {
  font-size: var(--font-size-h8);
  background: var(--gradientFont);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  letter-spacing: -1px;
}
h2,
h5 {
  color: azure;
  text-align: center;
}

.headtext {
  margin-top: 100px;
  text-align: center;
}
.bg {
  background-image: var(--bg-header);
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.modal-bg {
  background-color: var(--nav-card-modal);
  opacity: 0.9;
  width: 560px;
  max-width: 90%;
  height: fit-content;
  border-radius: 24px;
  padding-bottom: 64px;
  max-width: 90%;
  margin-bottom: 200px;
}
.signIn {
  background-image: linear-gradient(20deg, #faa653, #f04f59);
  border-radius: 20px !important;
  width: 80% !important;
}
.cancel-link {
  color: var(--color-quaternary) !important;
  text-align: center;
  display: block;
  margin-top: 16px;
  font-weight: bold !important;
  text-decoration-color: var(--color-quaternary) !important;
}
.cancel-link:hover {
  color: var(--color-quaternary-hover) !important;
  text-decoration-color: var(--color-quaternary-hover) !important;
  cursor: pointer;
}
