body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif !important;
}

.loading-container {
  background-image: var(--bg-header);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.loading-title {
  font-size: var(--font-size-h14);
  background-image: var(--gradientFont);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
  letter-spacing: -1px;
}

.loading-subtitle {
  font-size: var(--font-size-h12);
  background-image: var(--gradientFont);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
  letter-spacing: -1px;
}

.loading-status {
  font-size: var(--font-size-h7);
}

.position {
  font-weight: bold;
  color: #ff8c00; /*NOT WORKING IDK WHY */
}

.progress-container {
  width: 100%;
  height: 40px;
  border: 3px solid transparent;
  background-image: var(--darkGradient), var(--gradientButton);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.progress-bar {
  height: 40px;
  background: var(--gradientButton);
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 3px solid transparent;
  font-size: var(--font-size-h4);
}
