.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: var(--color-white);
  height: 100%;
  padding: 20px;
}
.calendar-head {
  width: 100%;
  max-width: 768px;
  background-color: var(--nav-card-modal);
  justify-content: space-between;
  padding: 24px;
  border-radius: 24px;
  align-items: center;
  margin-bottom: 200px;
}
.reminder-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--table-rows);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px 15px;
}
.reminders-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.react-calendar__navigation button:hover {
  background-color: var(--iconBg) !important; /* Change to your desired hover background color */
  color: var(--color-white); /* Change to your desired hover text color */

  /* Add any other hover styles you want */
}
/* Calendar section */
.react-calendar__navigation__label {
  color: var(--color-white);
}

.react-calendar__navigation__arrow {
  color: var(--color-white);
}

.calendar-section {
  margin-bottom: 20px;
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: center;
}

/* Custom styling for the calendar */
.custom-calendar {
  background-color: var(--nav-card-modal);
  color: var(--color-white);
  border: none;

  padding: 10px;
}
.custom-calendar .react-calendar__tile--active {
  background-image: var(--gradientButton);
  color: white !important;
}
/* Hover effect on calendar tiles */
.custom-calendar .react-calendar__tile:hover {
  background-color: var(--iconBg);
  color: white;
}

.custom-calendar .react-calendar__tile:focus {
  outline: none;
  background-color: var(--iconBg);
}

/* Default focus date (clicked but not active) */

.custom-calendar .react-calendar__tile--now {
  background-color: var(--nav-card-modal);
  color: white;
}

.custom-calendar .react-calendar__tile {
  color: var(--color-white);
  border-radius: 50%;
  transition: background-color 0.3s ease;
  aspect-ratio: 1 / 1; /* Ensures the tile is always a perfect circle */
}

/* Task list */
.task-list {
  width: 100%;
  max-width: 768px;
}
.add-event-button {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgMain);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0px;
}
.task-text {
  width: 70%;
}

.task-text h3 {
  margin: 0;
  color: var(--color-white);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-text p {
  margin: 0;
  color: #aaa;
}

.task-actions {
  display: flex;
  gap: 0.5rem;
}
.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--gradientButton);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-container:hover {
  background: var(--gradientButtonHover);
}

.icon-container svg {
  color: white;
  font-size: var(--font-size-h6);
}

.svg-icon {
  color: var(--gradientButton);
  font-size: var(--font-size-h4);
  transition: color 0.3s ease;
}

.svg-icon:hover {
  color: var(--gradientButtonHover);
}

.date-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.date-navigation h2 {
  font-size: var(--font-size-h6);
  width: 150px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-item {
  opacity: 0.5;
  font-size: var(--font-size-tiny);
}

.task-date {
  color: var(--uib-color) !important;
}

@media (max-width: 768px) {
  .calendar-head {
    width: 80%;
  }
}
